<div class="chess-board">
    <!-- looping through all our rows on chessBoard view using *ngFor structural directive  -->
    <div *ngFor="let row of chessBoardView; let x = index" class="row">
        <!-- looping again through the pieces/square on each row  -->
         <!-- ngClass directive updates css depending on type of expession evaluation. For instance is isSquareDark is true then the square 
          should be of class 'dark' otherwise class if 'light'-->
        <div 
            *ngFor="let piece of row; let y = index" 
            class="square" 
            [ngClass]=
                "{
                    'dark': isSquareDark(x, y), 
                    'light':!isSquareDark(x, y),
                    'selected-square': isSquareSelected(x, y)
                }" 
            (click)="move(x, y)"
        >
            <!-- all the safe squares of the selected piece are highlighted with a dot in the middle of the square -->
            <div [ngClass]="{'safe-square': isSquareSafeForSelectedPiece(x, y)}"></div>

            <!-- if the piece exist set the source image path according to the piece  -->
            <img 
                *ngIf="piece" 
                [src]="pieceImagePaths[piece]" [alt]="piece" class="piece"
            >
        </div>
    </div>
</div>